

@import "../bower_components/sass-bootstrap/lib/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";
$FontAwesomePath: "/bower_components/font-awesome/font";

$iconSpritePath: "app/images/glyphicons-halflings.png";
$iconWhiteSpritePath: "app/images/glyphicons-halflings-white.png";
/* Put your CSS here */
